@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

/* Resume section general styles */
  /* Toggle/Dropdown CSS */
.experience-tile {
background-color: #fff;
padding: 15px;
margin-bottom: 15px;
border: 1px solid #ddd;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
border-radius: 5px;
cursor: pointer;
transition: all 0.3s ease;
}

.experience-tile:hover {
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.experience-header {
display: flex;
justify-content: space-between;
align-items: center;
}

.duration {
font-size: 0.9em;
color: #666;
}

.experience-description {
background-color: #f4f4f4;
padding: 10px;
border-left: 3px solid #0056b3;
display: none;
margin-bottom: 15px;
text-align: justify;
text-justify: inter-word;
}

/* AOS fade-in animation (if using AOS) */
[data-aos] {
opacity: 0;
transform: translateY(20px);
transition: opacity 1s ease-out, transform 1s ease-out;
}

[data-aos].aos-animate {
opacity: 1;
transform: translateY(0);
}